# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#vim
*.swp

/tags
/nproxy.sublime-project
/nproxy.sublime-workspace
/src/nproxy
/contrib/yaml-0.1.5/tests/.libs/example-deconstructor
/contrib/yaml-0.1.5/tests/.libs/example-deconstructor-alt
/contrib/yaml-0.1.5/tests/.libs/example-reformatter
/contrib/yaml-0.1.5/tests/.libs/example-reformatter-alt
/contrib/yaml-0.1.5/tests/.libs/run-dumper
/contrib/yaml-0.1.5/tests/.libs/run-emitter
/contrib/yaml-0.1.5/tests/.libs/run-loader
/contrib/yaml-0.1.5/tests/.libs/run-parser
/contrib/yaml-0.1.5/tests/.libs/run-scanner
/contrib/yaml-0.1.5/tests/Makefile
/contrib/yaml-0.1.5/win32/Makefile
/contrib/yaml-0.1.5/config.log
/bin/nproxy

tags
